<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caioagralemos - dev</title>
    <link rel="icon" type="image/png"
        href="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526120/portfolio/1logo_rmzvvn.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/index.css">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>

    <header class="profile container">

        <!-- theme button -->
        <i class="uil uil-moon change-theme" id="theme-button"></i>
        <a href="/en" class="flag change-lan" id="lan-button"><img
                src="https://cdn-icons-png.flaticon.com/512/555/555526.png" /></a>

        <div class="profile_container grid">
            <div class="profile_data">
                <div class="profile_border">
                    <div class="profile_perfil">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526121/portfolio/perfil_r2ufox.png"
                            alt="Me!">
                    </div>
                </div>

                <h2 class="profile_name">Caio Lemos</h2>
                <h3 class="profile_profession">Desenvolvedor de Software</h3>

                <ul class="profile_social">
                    <a href="https://www.instagram.com/caioagralemos/" target="_blank" class="profile_social-link">
                        <i class="uil uil-instagram-alt"></i>
                    </a>

                    <a href="https://github.com/caioagralemos" target="_blank" class="profile_social-link">
                        <i class="uil uil-github"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/caio-lemos-9aa113218/" target="_blank"
                        class="profile_social-link">
                        <i class="uil uil-linkedin"></i>
                    </a>
                </ul>
            </div>
            <div class="profile_info grid">
                <div class="profile_info-group">
                    <h3 class="profile_info-number">2<sup>o</sup></h3>
                    <p class="profile_info-description">período de<br>CC-UFAL</p>
                </div>
                <div class="profile_info-group">
                    <h3 class="profile_info-number">1</h3>
                    <p class="profile_info-description">ano como<br>freelancer</p>
                </div>
                <div class="profile_info-group">
                    <h3 class="profile_info-number">12</h3>
                    <p class="profile_info-description">certificados<br>extracurriculares</p>
                </div>
            </div>

            <div class="profile_buttons">
                <a download="" href="/pdf/pt-resume.pdf" class="button">
                    Baixe meu currículo <i class="uil uil-arrow-to-bottom"></i>
                </a>

                <div class="profile_buttons-small">
                    <a href="https://whatsa.me/5582991220020/?t=Ol%C3%A1,%20Caio!" target="_blank"
                        class="button button_small button_gray">
                        <i class="uil uil-whatsapp"></i>
                    </a>
                    <a href="mailto:caioagralemos@live.com" target="_blank" class="button button_small button_gray">
                        <i class="uil uil-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main class="main">

        <section class="filters container">

            <ul class="filters_content">
                <button class="filters_button" data-target="#projects">
                    Projetos
                </button>
                <button class="filters_button" data-target="#skills">
                    Habilidades
                </button>
                <button class="filters_button" data-target="#certificates">
                    Certificados
                </button>
            </ul>

            <div class="filters_sections">

                <!-- projetos -->
                <div class="projects_content grid" data-content id="projects">

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526341/portfolio/ibyYbcW_ob7fgq.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Node</span>
                                <h3 class="projects_title">jogBola</h3>
                                <a href="http://jogbola.com" class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526123/portfolio/weatherapp_j3jjq1.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">PC and Mobile (iOS)</span>
                                <h3 class="projects_title">WeatherApp</h3>
                                <a href="https://github.com/caioagralemos/WeatherApp"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526431/portfolio/lwmjhac_uvrqvk.jpg"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Web</span>
                                <h3 class="projects_title">Site de Escritório</h3>
                                <a href="http://agralemos.com.br" class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526123/portfolio/run_fml4xu.jpg"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Mobile (iOS)</span>
                                <h3 class="projects_title">RUN!</h3>
                                <a href="https://github.com/caioagralemos/HackaTruck/tree/main/RUN!"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526123/portfolio/quiz_plrjfd.jpg"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Python Text-Based</span>
                                <h3 class="projects_title">QuizGame</h3>
                                <a href="https://github.com/caioagralemos/Projetos-Python/tree/main/QuizGame"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526124/portfolio/tictactoe_aabmd9.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Mobile (iOS)</span>
                                <h3 class="projects_title">Jogo da Velha</h3>
                                <a href="https://github.com/caioagralemos/Projetos-Storyboard/tree/main/Jogo%20da%20Velha"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526123/portfolio/scorekeeper_qyswf2.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Web</span>
                                <h3 class="projects_title">ScoreKeeper</h3>
                                <a href="https://github.com/caioagralemos/Projetos-Web/tree/main/ScoreKeeper"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526121/portfolio/portfolio_mrdnju.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Web</span>
                                <h3 class="projects_title">Meu portfólio interativo</h3>
                                <a href="https://caioagralemos.com/" class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1684858486/Captura_de_Tela_2023-05-23_a%CC%80s_12.40.46_taaozt.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">React</span>
                                <h3 class="projects_title">App de Componentes</h3>
                                <a href="https://github.com/caioagralemos/ComponentesReact"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1684856918/portfolio/Screenshot_20230522_161154_Udemy_lwdzja.jpg"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">Meu curso - Primeiro Contato com Programação</h3>
                                <a href="https://bit.ly/projeto1hr" class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- skills -->
                <div class="skills_content grid" data-content id="skills">

                    <div class="skills_area">
                        <h3 class="skills_title">
                            Desenvolvedor Web
                        </h3>

                        <div class="skills_box">
                            <div class="skills_group">
                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">HTML/CSS</h3>
                                        <span class="skills_level">Avançado</span>
                                    </div>
                                </div>

                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">JavaScript</h3>
                                        <span class="skills_level">Avançado</span>
                                    </div>
                                </div>
                                <div class="skills_group">

                                    <div class="skills_data">
                                        <i class="uil uil-check"></i>

                                        <div>
                                            <h3 class="skills_name">Node.js</h3>
                                            <span class="skills_level">Avançado</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">React</h3>
                                        <span class="skills_level">Avançado</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="skills_area">
                        <h3 class="skills_title">
                            Desenvolvedor Mobile
                        </h3>

                        <div class="skills_box">
                            <div class="skills_group">
                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">Swift</h3>
                                        <span class="skills_level">Avançado</span>
                                    </div>
                                </div>

                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">Storyboard</h3>
                                        <span class="skills_level">Avançado</span>
                                    </div>
                                </div>
                                <div class="skills_group">

                                    <div class="skills_data">
                                        <i class="uil uil-check"></i>

                                        <div>
                                            <h3 class="skills_name">SwiftUI</h3>
                                            <span class="skills_level">Intermediário</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">Flutter e Dart</h3>
                                        <span class="skills_level">Intermediário</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="skills_area">
                        <h3 class="skills_title">
                            Programação
                        </h3>

                        <div class="skills_box">
                            <div class="skills_group">
                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">Python</h3>
                                        <span class="skills_level">Avançado</span>
                                    </div>
                                </div>

                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">MySQL</h3>
                                        <span class="skills_level">Avançado</span>
                                    </div>
                                </div>
                                <div class="skills_group">

                                    <div class="skills_data">
                                        <i class="uil uil-check"></i>

                                        <div>
                                            <h3 class="skills_name">C</h3>
                                            <span class="skills_level">Intermediário</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">MIPS Assembly</h3>
                                        <span class="skills_level">Intermediário</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="skills_area">
                        <h3 class="skills_title">
                            Extras
                        </h3>

                        <div class="skills_box">
                            <div class="skills_group">
                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">Inglês</h3>
                                        <span class="skills_level">Avançado</span>
                                    </div>
                                </div>

                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">Entrevistas</h3>
                                        <span class="skills_level">Avançado</span>
                                    </div>
                                </div>
                                <div class="skills_group">

                                    <div class="skills_data">
                                        <i class="uil uil-check"></i>

                                        <div>
                                            <h3 class="skills_name">UX Design</h3>
                                            <span class="skills_level">Intermediário</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="skills_data">
                                    <i class="uil uil-check"></i>

                                    <div>
                                        <h3 class="skills_name">Design Thinking</h3>
                                        <span class="skills_level">Intermediário</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- certificados  -->
                <div class="projects_content grid" data-content id="certificates">

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526767/portfolio/certificados/K993JrW_wq6552.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">The Web Developer Bootcamp</h3>
                                <a href="https://www.udemy.com/certificate/UC-c85e64cd-3660-46d8-a1ae-03657f5741a4/"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526752/portfolio/certificados/tNcLqdc_eooouc.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">The Complete Python Bootcamp</h3>
                                <a href="https://www.udemy.com/certificate/UC-565289ea-f237-4b6f-9f92-107df9acc1b6/"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>


                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526731/portfolio/certificados/HLzJhIp_gyzwod.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">Design Thinking in 3 Steps</h3>
                                <a href="https://www.udemy.com/certificate/UC-2d7f8c6e-2f1c-4d1a-88c6-cccced89a2d8/"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526705/portfolio/certificados/nqtbhQH_bq8tmj.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">Linguagem de Programação MIPS Assembly</h3>
                                <a href="https://www.udemy.com/certificate/UC-16993741-dc2d-499e-80e5-ca1380f2bae4/"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526686/portfolio/certificados/EytoChD_uc0bl2.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">Curso Completo de Banco de Dados e SQL para Iniciantes</h3>
                                <a href="https://www.udemy.com/certificate/UC-f1d4a184-c7c8-4981-9343-375e602e2323/"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526667/portfolio/certificados/xwxRoHn_d9agd4.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">IDP Eldorado</span>
                                <h3 class="projects_title">Algoritmos, Programação Orientada a Objetos com Swift,
                                    JavaScript
                                </h3>
                                <a href="https://imgur.com/xwxRoHn" class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526605/portfolio/certificados/university-of-cambridge-logo-1_uupvx4.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Inglês</span>
                                <h3 class="projects_title">Cambridge FCE</h3>
                                <a href="https://imgur.com/x9o0LC7" class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1682526631/portfolio/certificados/wQFDcUY_p3asn6.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">IBM</span>
                                <h3 class="projects_title">Práticas de Cloud Services usando Swift com ênfase em
                                    Serviços
                                    Cognitivos</h3>
                                <a href="https://imgur.com/wQFDcUY" class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1686185386/portfolio/certificados/Captura_de_Tela_2023-06-07_a%CC%80s_21.44.52_d2pykh.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">Modern React with Redux [2023 Edition]</h3>
                                <a href="https://ude.my/UC-45cabd66-625a-4d33-a514-02236d6ef5e1/"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1686185387/portfolio/certificados/Captura_de_Tela_2023-06-07_a%CC%80s_21.44.54_iash9v.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">Mastering TypeScript - 2023 Edition </h3>
                                <a href="https://ude.my/UC-a024c30d-8210-4d47-83f7-159e673c29f5/"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1686940396/portfolio/certificados/Captura_de_Tela_2023-06-16_a%CC%80s_15.25.50_cmtsej.png"
                            alt="" class="projects_img img-fluid">
                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">Python - Estruturas de Dados e Algoritmos</h3>
                                <a href="https://www.udemy.com/certificate/UC-e6354290-d1b1-4774-a051-03fe0455121a/"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="projects_card">
                        <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1686940395/portfolio/certificados/Captura_de_Tela_2023-06-16_a%CC%80s_15.24.51_wojpzi.png"
                            alt="" class="projects_img img-fluid">

                        <div class="projects_modal">
                            <div>
                                <span class="projects_subtitle">Udemy</span>
                                <h3 class="projects_title">JavaScript - Estruturas de Dados e Algoritmos</h3>
                                <a href="https://github.com/caioagralemos/Curso-JS-DS"
                                    class="projects_button button button_small">
                                    <i class="uil uil-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </section>

    </main>

    <footer class="footer container">
        <div id="tech_icons"><br>
            <img class="techicons" alt="CaioBootstrap" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg">
            <img class="techicons" alt="CaioC" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg">
            <img class="techicons" alt="CaioCSS" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg">
            <img class="techicons" alt="CaioHTML5" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg">
            <img class="techicons" alt="CaioJS" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg">
            <img class="techicons" alt="CaioMongo" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg">
            <img class="techicons" alt="CaioMySQL" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg">
            <img class="techicons" alt="CaioNode" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg">
            <img class="techicons" alt="CaioPhotoshop" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-line.svg">
            <img class="techicons" alt="CaioPY" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg">
            <img class="techicons" alt="CaioReact" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg" />
            <img class="techicons" alt="CaioSwift" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swift/swift-original.svg">
            <img class="techicons" alt="CaioTS" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
            <img class="techicons" alt="CaioVSC" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg">
            <img class="techicons" alt="CaioXCode" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/xcode/xcode-original.svg">
            <img class="techicons" alt="CaioWindows" height="3%" width="4%"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/windows8/windows8-original.svg">
        </div>
        <span class="footer_copy">
            &#169; Caio Agra Lemos. All rights reserved<br><span class="easteregg">Nonstop</span>
        </span>
    </footer>

    <!-- scrollreveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- main JS -->
    <script src="js/main.js"></script>
</body>

</html>